$default-color: aqua;
$color-white: #fff;
$color-light-grey: rgba(0, 0, 0, 0.35);

$color-tile-order: burlywood;
$color-tile-return: lightcoral;
// font-sizes
$fs_xss: 10px;
$fs_xs: 12px;
$fs_sm: 14px;
$fs_mm: 16px;
$fs_md: 24px;



// transitions
.fade-enter-active, .fade-leave-active {
    transition: opacity .5s;
}
.fade-enter, .fade-leave-to {
    opacity: 0;
}

.filter-cars-move {
    transition: transform .3s;
}

@mixin shadow-between-items {
  box-shadow: inset 0px 2px 1px 0px rgba(0, 0, 0, 0.75);
}

